<footer>
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" class="disabled"><a href="https://github.com/jackhkmatthews">GitHub</a></li>
      <li role="presentation" class="disabled"><a href="https://uk.linkedin.com/in/jack-matthews-a94433b2">LinkedIn</a></li>
      <li role="presentation" class="disabled"><a href="mailto:jackhkmatthews@gmail.com">Email</a></li>
    </ul>
  </div>
</footer>
