<footer>
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" class="disabled"><a href="#">GitHub</a></li>
      <li role="presentation" class="disabled"><a href="#">LinkedIn</a></li>
      <li role="presentation" class="disabled"><a href="#">Email</a></li>
    </ul>
  </div>
</footer>
