.calculatorContainer {
    width: 400px;
    margin: 0 auto;
    background-color: grey;
    /* border-radius: 6px; */
    padding: 10px 0 10px 0;
    font-family: 'Orbitron', sans-serif;
    transition: box-shadow 0.5s;
    box-shadow: 5px 5px 13px #ffffff;
}

h1.title {
    padding: 10px 10px 10px 0px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 6px;
    color: black;
    text-shadow: 1px 1px red;
}

h2.output {
    margin: 0;
    text-align: right;
    color: #0cfb0c;
    font-family: 'Orbitron', sans-serif;
}

form#calculatorForm {
    padding: 12px 10px 10px 10px;
    position: relative;
    height: 50px;
}

.outputContainer {margin: 0px 10px 0;background: black;padding: 10px 10px 0px 10px;height: 25px;}

body {
    padding: 104px 0 0 0;
    background: black;
}

.titleContainer {
    margin: 0 10px 0;
    border-radius: 12px;
    color: black;
}

input.firstNumber {
    font-size: 24px;
    width: 152px;
    border: 0;
    top: 20px;
    left: 11px;
    box-sizing: border-box;
    padding: 11px 10px 0px 0px;
    text-align: right;
}

select.operator {
    border: 0;
    position: absolute;
    top: 20px;
    left: 164px;
    background: black;
    color: yellow;
    border-radius: 0px;
    -webkit-appearance: none;
    padding: 11px;
}

input.secondNumber {
    font-size: 24px;
    width: 152px;
    border: 0;
    top: 20px;
    left: 195px;
    box-sizing: border-box;
    padding: 11px 10px 0px 0px;
    text-align: right;
}

input#submit {
    box-sizing: border-box;
    position: relative;
    top: 8px;
    right: -338px;
    border: 0px;
    width: 42px;
    height: 35px;
}

input {
    text-align: center;
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: yellow;
}