.project-box a {
  margin-bottom: 0px;
  border-radius: 0px;
  color: white;
  background-size: cover;
  padding: 4px 4px 4px 22px;
}

a.thumbnail:hover {
  text-decoration: none;
}

.project-box {
  padding: 0;
}

.project-row {
  padding: 0px 15px;
}
