.project section h1 {
    text-align: center;
    padding-top: 5vh;
    line-height: 1.5em;
}

.project p.paragraph {
    line-height: 1.5em;
    padding: 3vh 0;
}

a.selected {
  text-decoration: underline;
}
