
body {
  text-align: center;
  font-family: monospace;

   /* For browsers that do not support gradients */
   /* For Safari 5.1 to 6.0 */
   /* For Opera 11.1 to 12.0 */
   /* For Firefox 3.6 to 15 */
   /* Standard syntax */
}

h1 {
  font-size: 31px;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin: 0;
}

.trip {
  background-image: url("../images/trip.jpg");
  width: 100%;
  height: 500px;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%); */
  background-size: cover;
  position: absolute;
  top: 0px;
}

.math {
  background-image: url("../images/math.jpg");
  height: 500px;
  width: 100%;
  -webkit-clip-path: polygon(-11% 100%, 100% 11%, 100% 100%, 0% 100%);
  position: absolute;
  top: 0px;
  background-size: cover;
}

.container {
  width: 80%;
  max-width: 500px;
  height: 500px;
  margin: 13px auto 0;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid;
  box-shadow: 30px 30px 19px -5px rgba(0,0,0,.5);
  transition: box-shadow 0.5s;
}

.container:hover {}
