
body {
  text-align: center;
  font-family: monospace;
}

h1 {
  font-size: 31px;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin: 0;
}

.trip {
  background-image: url("../images/trip.jpg");
  width: 100%;
  height: 600px;
  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%); */
  background-size: cover;
  position: absolute;
  top: 0px;
}

.math {
  background-image: url("../images/math.jpg");
  height: 600px;
  width: 100%;
  -webkit-clip-path: polygon(-11% 100%, 100% 11%, 100% 100%, 0% 100%);
  position: absolute;
  top: 0px;
  background-size: cover;
}

.container {
  width: 80%;
  max-width: 600px;
  height: 600px;
  margin: 13px auto 0;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid;
}
