body {
  text-align: center;
  font-family: arial;
  width: 100%;
}

ul {
    margin: 30px auto;
    padding: 0;
    clear: both;
    /* background-color: rgb(89, 174, 199); */
    /* border: 41px solid rgba(89, 174, 199, 0); */
    border-radius: 45px;
}

li {
    float: left;
    border: 2px solid rgba(0, 0, 0, 0.48);
    border-radius: 50%;
    color: rgb(0, 0, 0);
    transition: box-shadow 0.7s, background-color 0.7s;
    box-sizing: border-box;
    list-style: none;
    /* margin: 10px; */
}

li:hover {
    background: rgb(122, 206, 230);
    box-shadow: 0 7px 7px rgba(0,0,0,0.46);
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

h2 {
    display: inline-block;
    margin: 10px;
}

h2:hover {
    color: #59aec7;
}

li.homer {
    border: 6px solid black;
    border-radius: 29px;
    background-color: white;
}

li.homer:hover {
    background-color: #d4318d;
}
