/*********GENERAL**********/

body {
    background-color: pink;
    background-image: url(/pig.svg);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 116% 50%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

/*********NAV**********/

h3.brand {
    float: left;
    margin: 0 0 0 0;
    line-height: 80px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

nav li {
    float: left;
    padding: 0 10px 0 10px;
    line-height: 80px;
}

header {
    height: 80px;
    padding: 0 30px 0 30px;
}

/*********MAIN**********/

main {
    padding: 21vh 0 0 0;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

h1.translation {
    display: inline-block;
    background: pink;
    border: 8px black solid;
    border-radius: 15px;
    padding: 11px;
    min-width: 313px;
}

/*********FORM**********/

input.translate {
    display: block;
    margin: 0 auto;
    text-align: center;
    -webkit-appearance: none;
    border: none;
    border-bottom: 8px black solid;
    height: 30px;
    background-color: pink;
    font-size: 23px;
    border-radius: 15px;
}

button.translate {
    display: block;
    margin: 30px auto;
    -webkit-appearance: none;
    background-color: black;
    border: none;
    height: 35px;
    color: pink;
    font-size: 13px;
    border-radius: 15px;
}
