      <h1>Naughts and Crosses</h1>
      <h3>GA WDI Project One</h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>Building a tic tac toe game in HTML, CSS, and pure JavaScript.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p>During week one of GA WDI, we learned about writing functions, working with loops, and writing conditionals. We also learned about how HTML elements are styled and behave in the DOM. Therefore, for this exercise, we were required to build a tic tac toe game in HTML, CSS, and pure JavaScript.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p>The basic requirements were:
          <ul>
            <li>A user should be able to click on different squares to make a move</li>
            <li>Every click will alternate between marking an X and O</li>
            <li>Upon marking of an individual cell, use JavaScript to add a class to each cell to display separate colors</li>
            <li>A cell should not be able to be replayed once marked</li>
            <li>Add a reset button that will clear the contents of the board</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
          <img src="https://cloud.githubusercontent.com/assets/20629455/21355841/71401df6-c6c7-11e6-8c71-d1ce1846be53.png" alt="" style="width: 100%">
      </div>
    </div>
    </div>
  </div>
</main>
