    <h1>Typing Karaoke</h1>
    <h3>GA WDI Project Three</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>A collaborative experience for the new fragrance, Chanel Nº5 L'Eau.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p>The Fifth Sense is an online platform from Chanel and i-D celebrating the emotion of scent and the way it inspires female creativity. For its latest commission, Intangible Matter, we worked with digital artist Lucy Hardcastle to bring to life her interpretation and creative vision of Chanel’s N°5 L'Eau, through code.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <a href="#" class="thumbnail">
        <img src="http://d1ftdixo865ns.cloudfront.net/58l7lmmaka1i/29gjVKjKus0WWqgq4mKiw8/d2176cfe6351f3d57880367aee310305/instagram_all.jpg" alt="">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p>Our challenge was to create six distinct conceptual rooms that allow users to explore different textures, sound designs, and interactions that represent each element of the fragrance in Lucy’s vision.</p>
    </div>
  </div>
</div>
</main>
