body {
  background: red;
}

main {
    padding: 20px;
    text-align: center;
}

.board-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

ul.board {
    padding: 0;
    list-style: none;
}

li.box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    float: left;
}

li.box:hover {
    background: orange;
}

li.box.x {
    color: white;
    background-color: black;
}

li.box.naught {
    color: black;
    background-color: white;
}

@keyframes xflashing {
    from {background-color: black;}
    to {background-color: blue;}
}

/* The element to apply the animation to */
li.x.box.flashing {
  animation-name: xflashing;
  animation-duration: 1s;
  background-color: blue;
  animation-iteration-count: infinite;
}

@keyframes naughtFlashing {
    from {background-color: white;}
    to {background-color: yellow;}
}

/* The element to apply the animation to */
li.naught.box.flashing {
  animation-name: naughtFlashing;
  animation-duration: 1s;
  background-color: blue;
  animation-iteration-count: infinite;
}
