<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pig Latin</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/master.css">
    <script src="/client.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <h3 class="brand">Pig Latin</h3>
      <nav>
        <ul>
          <li>GitHub</li>
          <li>Email</li>
          <li>Twitter</li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
