<header>
  <nav class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="nav nav-pills">
          <li role="presentation" class="disabled"><a href="#">Quotes</a></li>
          <li role="presentation" class="disabled"><a href="#">Not Sure</a></li>
          <li role="presentation" class="disabled"><a href="#">I need more links</a></li>
        </ul>
      </div>
      <div class="col-sm-2 col-sm-offset-4">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">Home</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
