body {
  background-color: #6A6;
  color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: 0 auto;
}

main li {
    float: left;
    width: 33%;
    box-sizing: border-box;
    border: 1px solid black;
}

.container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* height: 100%; */
}
.dummy {
    margin-top: 100%; /* 4:3 aspect ratio */
}
.element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header nav ul li {
    float: right;
    padding: 20px;
}

nav {
    height: 70px;
    width: 100%;
}

.footer-wrap {
    height: calc(100vh - 50px);
}

footer {
    height: 50px;
}

footer ul li {
    float: left;
    padding: 0px 20px;
}
