<main>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Jack's VideoTube</h1>
      <p>A collection of music videos</p>
      <p><a class="btn btn-primary btn-lg" href="/videos" role="button">See the Vids!</a></p>
    </div>
  </div>
</main>
