<main>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to MemeTube</h1>
      <p>Best online meme resource</p>
      <p><a class="btn btn-primary btn-lg" href="/memes" role="button">See the Memes!</a></p>
    </div>
  </div>
</main>
