<h1>Create New Person</h1>

<form action="/people" method="post">
  <input type="text" name="first" placeholder="First Name">
  <input type="text" name="last" placeholder="Last Name">
  <input type="text" name="city" placeholder="Last Name">
  <input type="number" name="friends" placeholder="How Many Friends?">
  <input type="date" name="dob" placeholder="Date of Birth">
  <input type="text" name="relationship" placeholder="Relationship">
  <button>Register</button>
</form>
