<!DOCTYPE html>
<html ng-app="tictactoeApp">
<head>
  <meta charset="utf-8">
  <title>Tic Tac Toe</title>
  <script src="../../bower_components/angular/angular.js"></script>
  <script src="../js/app.js" charset="utf-8"></script>
  <script src="../js/controllers/TictactoeController.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body ng-controller="TictactoeController as game">
  <div class="footer-wrap">
    <header>
      <nav>
        <ul>
          <li>Easy</li>
          <li>Hard</li>
          <li>2 Player</li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 ng-if="game.winner">Player {{game.winner}} wins!</h1>
      <ul class="board">
        <li class="cell cell{{cell.index}}" ng-repeat="cell in game.cells" ng-click="game.move(cell)">
          <div class="container">
            <div class="dummy">
              <div class="element">
                {{ cell.text }}
              </div>
            </div>
          </div>
        </li>
      </ul>
      <h1>X is next: {{game.xIsNext}}</h1>
      <h1 ng-click="game.reset()">Reset</h1>
    </main>
  </div>
  <footer>
    <ul>
      <li>LinkedIn</li>
      <li>GitHub</li>
      <li>Email</li>
    </ul>
  </footer>
</body>
</html>
