<!DOCTYPE html>
<html ng-app="tictactoeApp">
<head>
  <meta charset="utf-8">
  <title>Tic Tac Toe</title>
  <script src="../../bower_components/angular/angular.js"></script>
  <script src="../../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="../js/app.js" charset="utf-8"></script>
  <script src="../js/controllers/TictactoeController.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../css/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i" rel="stylesheet">
  <link rel="stylesheet" href="../font-awesome.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body ng-controller="TictactoeController as game">
  <div class="footer-wrap">
    <div class="landing-page-container" ng-if="game.landing">
      <div class="player-container clearfix">
        <h1 class="player-x-selector">X</h1>
        <h1 class="player-o-selector">o</i></h1>
      </div>
      <h2>Tic Tac Toe</h2>
      <h3 class="play-button" ng-click="game.landing = false"><i class="fa fa-play" aria-hidden="true"></i></h3>
      <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
      <p>Click to play</p>
    </div>
    <div class="board-page-container" ng-if="!game.landing">
      <header>
        <div class="turn-container clearfix">
          <ul class="clearfix">
            <li ng-class="{'player-x-selector': game.xIsNext}">x</li>
            <li ng-click="game.reset()" class="reset">Reset</li>
            <li ng-class="{'player-o-selector': !game.xIsNext}">o</i></li>
          </ul>
        </div>
      </header>
      <main class="clearfix">
        <div class="board-container clearfix">
          <ul class="board clearfix">
            <li ng-class="{winner: cell.winner, x: cell.playerX, o: cell.playerO, 'x-next': game.xIsNext, 'o-next': !game.xIsNext}" class="cell cell{{cell.index}}" ng-repeat="cell in game.cells" ng-click="game.move(cell)" ng-bind-html="cell.html">
            </li>
          </ul>
        </div>
      </main>
      <aside class="game-modes">
        <div class="game-modes-container">
          <ul class="clearfix">
            <li class="left">2 Player</li>
            <li>Comp</li>
            <li class="right">Comp</li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
  <footer>
    <ul class="clearfix">
      <li>LinkedIn</li>
      <li>Email</li>
      <li>GitHub</li>
    </ul>
  </footer>
</body>
</html>
