<p id="notice"><%= notice %></p>

<h1>Planets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Distance from sun</th>
      <th>Mass</th>
      <th>Rings</th>
      <th>Life</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @planets %>
  </tbody>
</table>

<br>

<%= link_to 'New Planet', new_planet_path %>
