<main class="container">
  <div class="row title-banner">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>StinkDigital is a creative studio for a digital-first world.</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <a href="/project" class="thumbnail pic1">
        <div  style="height: 300px; width: 300px">
          <h3 class="title">Naughts and Crosses</h3>
          <h4>GW WDI 24</h4>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="#" class="thumbnail pic2">
        <div  style="height: 300px; width: 300px">
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="#" class="thumbnail pic3">
        <div  style="height: 300px; width: 300px">
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="#" class="thumbnail pic4">
        <div  style="height: 300px; width: 300px">
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="#" class="thumbnail pic5">
        <div  style="height: 300px; width: 300px">
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="#" class="thumbnail pic6">
        <div  style="height: 300px; width: 300px">
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <a href="#" class="thumbnail pic7">
        <div  style="height: 300px; width: 300px">
        </div>
      </a>
    </div>
  </div>
</main>
