<!DOCTYPE html>
<html>
  <%- include ./partials/_head %>
  <body>
    <div class="jumbotron">
      <div class="container">
        <%- include ./partials/_header %>
      </div>
    </div>
    <main>
      <%- body %>
    </main>
    <%- include ./partials/_footer %>
  </body>
</html>
