<footer class="container footer">
  <div class="row">
    <div class="col-sm-3">
      <a href="https://www.github.com/jackhkmatthews">
        <div class="footer-box" style="height: 100px; width: 100px; margin: 0 auto">
          <span>GitHub</span>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://twitter.com/jackhkmathews">
        <div class="footer-box" style="height: 100px; width: 100px; margin: 0 auto">
          <span>Twitter</span>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="mailto:jackhkmatthews@gmail.com">
        <div class="footer-box" style="height: 100px; width: 100px; margin: 0 auto">
          <span>Email</span>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="https://uk.linkedin.com/in/jack-matthews-a94433b2">
        <div class="footer-box" style="height: 100px; width: 100px; margin: 0 auto">
          <span>LinkedIn</span>
        </div>
      </a>
    </div>
  </div>
</footer>
