<footer class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <a href="#" class="thumbnail">
        <img src="http://d1ftdixo865ns.cloudfront.net/58l7lmmaka1i/1W6wqjltsoU0GuIMM64qEU/9b30801bcd740cc59846d0c2c931facb/fit=crop&w=977&h=700&f=top00_cover.jpg" alt="..." class="img-circle">
      </a>
    </div>
    <div class="col-xs-12 col-sm-3">
      <a href="#" class="thumbnail">
        <img src="http://d1ftdixo865ns.cloudfront.net/58l7lmmaka1i/1W6wqjltsoU0GuIMM64qEU/9b30801bcd740cc59846d0c2c931facb/fit=crop&w=977&h=700&f=top00_cover.jpg" alt="...">
      </a>
    </div>
    <div class="col-xs-12 col-sm-3">
      <a href="#" class="thumbnail">
        <img src="http://d1ftdixo865ns.cloudfront.net/58l7lmmaka1i/1W6wqjltsoU0GuIMM64qEU/9b30801bcd740cc59846d0c2c931facb/fit=crop&w=977&h=700&f=top00_cover.jpg" alt="...">
      </a>
    </div>
    <div class="col-xs-12 col-sm-3">
      <a href="#" class="thumbnail">
        <img src="http://d1ftdixo865ns.cloudfront.net/58l7lmmaka1i/1W6wqjltsoU0GuIMM64qEU/9b30801bcd740cc59846d0c2c931facb/fit=crop&w=977&h=700&f=top00_cover.jpg" alt="...">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>jackhkmatthews copied this from StinkDigital</p>
    </div>
  </div>
</footer>
