<header class="container">
  <div class="row">
    <div class="col-xs-10">
      <nav>
        <ul class="nav nav-pills">
          <li role="presentation" class="disabled"><a href="/">Work</a></li>
          <li role="presentation" class="disabled"><a href="/about">About</a></li>
          <li role="presentation" class="disabled"><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-xs-2">
      <nav>
        <ul class="nav nav-pills">
          <li role="presentation" class="disabled"><a href="/">jackhkmatthews</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
